
<div class="row">
<div class="col-md-12 ">
    <h3>Add Item</h3>
</div>
<div class="col-md-4">
    <label for="">Name of Item</label>
    <input type="text">
</div>
<div class="col-md-4">
    <label for="">Availability</label>
    <input type="radio">
    <label for="">Yes</label>
<input type="radio">
    <label for="">No</label>
</div>
<div class="col-md-4">
    <label for="">Add Description</label>
    <textarea name="" id="" cols="20" rows="5"></textarea>
</div>
<div class="col-md-4">
    <label for="">Amount</label>
    <input type="text">
</div>
<div class="col-md-4">
    <label for="">Gst</label>

    <input type="text">
</div>
<div class="col-md-4">
    <img src="" alt="">
</div>
<div class="col-md-4">
    <button>Add</button>
    <button>Cancel</button>
</div>
</div>