<mat-card class="matcard-margin">
  <div class="box col-md-12">
    <div class="img col-md-12">
      <img src="/assets/logo.png" width="200px" />
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Login</h3>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="login()" autocomplete="off">
        <div class="col-md-12 col-sm-12">
          <mat-form-field class="w-textbox" appearance="fill">
            <mat-label>Password</mat-label>
            <input name="legoefnlnl" type="text" matInput placeholder="details" 
            formControlName="password" class="key"/>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <section>
            <div class="button-row">
              <button
                type="submit"
                class="btn-log"
                mat-raised-button
                color="primary"
              >
                Login
              </button>
              <button type="reset" class="btn-set" mat-raised-button>
                Reset
              </button>
            </div>
          </section>
        </div>
      </form>
    </div>
  </div>
</mat-card>
