<div class="row">
    <form [formGroup]="itemForm" (ngSubmit)="saveItem()">
        <div class="col-md-12" style="text-align: center;">
            <h3>{{itemForm.get('itemName').value}} | ₹{{itemForm.get('amount').value}}</h3>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <mat-form-field>
                <mat-label>Quantity</mat-label>
                <input type="number" #quantity matInput formControlName="quantity"/>
            </mat-form-field>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <mat-form-field>
                <mat-label>Rate</mat-label>
                <input type="number"  #rate matInput formControlName="amount"/>
            </mat-form-field>
        </div>
        <!-- <div class="col-md-12">
            <button type="button" (click)="addNumber(item)" mat-raised-button 
            style="margin-left: 4px;margin-top: 3px;" *ngFor="let item of [1,2,3,4,5,6,7,8,9,'',0, 'Clear']">
            {{item}}</button>
        </div> -->
        <div class="col-md-12" style="margin-top: 10px;">
            <button type="buttoo" (click)="closePopup()" mat-raised-button>Cancel</button>
            <button type="submit" mat-raised-button color="primary" style="margin-left: 5px;">Save</button>
        </div>

    </form>
</div>