<div class="row">
  <h3>Take Order</h3>
    <div class="col-md-12 col-sm-12"></div>
    <div class="col-md-4">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Oder Number</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
        </div>
    
          <div class="row-dropdown">
        <div class="col-md-12 col-sm-12">
            <mat-radio-group aria-label="Select an option" class="order-margin">
                <mat-radio-button value="1" class="r-btn1">Take away </mat-radio-button>
                <mat-radio-button value="2" class="r-btn2">Dyning</mat-radio-button>
                <mat-radio-button value="2" class="r-btn3">Home Delivery</mat-radio-button>
              </mat-radio-group>
    </div>
    <div class="auto col-md-3 col-sm-12">
        <br>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>auto complete</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
        </div>
          <div class=" item col-md-4 col-sm-12">
            <br>
                <mat-form-field class="" appearance="fill">
                  <mat-label>Item</mat-label>
                  <input matInput placeholder="Item" value="">
                </mat-form-field>
          </div>
          <div class="col-md-5"></div>
          <div class="col-md-4 col-sm-12">
            
                <mat-form-field class="" appearance="fill">
                  <mat-label>quandity</mat-label>
                  <input matInput placeholder="Quandity" value="">
                </mat-form-field>
          </div>
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <section>
                <button class="btn1" mat-raised-button color="primary" >Add</button>
                <button class="btn2" mat-raised-button>Cancel</button>    
            </section>
          </div>
          <div class="col-md-8"></div>
          <div class="col-md-4"></div>
              <div class="col-md-8">
            <section>
                <button class="print" mat-raised-button  >Print</button>    
            </section>
          </div>
          <div class="row-table">
              <div class="col-md-8">
                <table mat-table [dataSource]="dataSource" class="order-table">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                  
                    <!-- item Column -->
                    <ng-container matColumnDef="item">
                      <th mat-header-cell *matHeaderCellDef> Item </th>
                      <td mat-cell *matCellDef="let element"> {{element.item}} </td>
                    </ng-container>
                  
                    <!-- quandity Column -->
                    <ng-container matColumnDef="quandity">
                      <th mat-header-cell *matHeaderCellDef> Quandity </th>
                      <td mat-cell *matCellDef="let element"> {{element.quandity}} </td>
                    </ng-container>
                  
                    <!-- price Column -->
                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef> Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

              </div>
          </div>
</div>
<div class="col-md-10">
  <label for="" class="total">Total 5000</label>
</div>
</div>