
.r-btn1{
    min-width: 150px;
    background-color: #ccc;
    border: solid 1px #ccc;
    padding: 10px 15px;
    border-radius: 5px;
}
.r-btn2{
    margin-left: 40px;
    min-width: 150px;
    background-color: #ccc;
    border: solid 1px #ccc;
    padding: 10px 15px;
    border-radius: 5px;
}
.r-btn3{
    margin-left: 40px;
    min-width: 150px;
    background-color: #ccc;
    border: solid 1px #ccc;
    padding: 10px 15px;
    border-radius: 5px;

}
.auto{
    padding-top: 20px;
}
.item {
    padding-top: 20px;
}
.btn2{
    margin-left: 10px;
}
.order-table{
    width: 90%;
}
.print{
    margin-left:250px;
}
.total{
    padding: 10px 490px;

}
.row{
    margin: 30px;
}
.order-list{
    cursor: pointer;
    margin-top: 10px;
    border: solid 1px #ccc;
    background-color: #ccc;
    text-align: center;
    padding-top: 5px;
}
.item {
    width: 100%;
}