.row{
    margin: 30px;
}
.user{
    width: 250px;
    margin-left: 20px;
}
.name{
    width: 250px;
    
}
.number{
    width: 250px;
    
}
.password{
    width: 250px;
}
.c-password{
    width: 250px;
    margin-left: 20px;
}
.user-roll{
    width: 250px;
    margin-left: 20px;
}

.btnc{
    margin-left: 20px;
}