<div class="row">
    <div class="col-md-9 col-sm-12">
<h3>Order List</h3>
        <mat-form-field class="item-margin" appearance="fill">
            <mat-label>Item</mat-label>
            <input matInput placeholder="Ex. Pizza" value="">
          </mat-form-field>
          <mat-form-field class="list-table" appearance="fill">
            <mat-label >Table</mat-label>
            <mat-select>
              <mat-option value="one">Table-1</mat-option>
              <mat-option value="two">Table-2</mat-option>
            </mat-select>
          </mat-form-field>  
          
          <div class=" button " style="overflow-y: scroll; max-width: 900px;height: 70px;" >
            <section>
              <button class="btn1" mat-raised-button>Cancel</button>    
              <button class="btn" mat-raised-button>Cancel</button>  
              <button class="btn" mat-raised-button>Cancel</button>  
              <button class="btn" mat-raised-button>Cancel</button>  
              <button class="btn" mat-raised-button>Cancel</button> 
              <button class="btn" mat-raised-button>Cancel</button> 
              <button class="btn" mat-raised-button>Cancel</button> 
              <button class="btn" mat-raised-button>Cancel</button> 
              <button class="btn1" mat-raised-button>Cancel</button> 
              <button class="btn" mat-raised-button>Cancel</button> 
          </section>
      </div>
      <div class="cards" style="overflow-y:  scroll;max-width:900px;height: 400px;">
        
      <mat-card class="item-card "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1 "> 
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
    </div>
  </div>
    <div class="col-md-3 col-sm-12">
      <div class="table">
        <table>
          <tr>
            <th>Sl.no</th>
            <th>Item Name</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>1</td>
            <td>pineaple juice</td>
            <td>100</td>
          </tr>
          <tr>
            <td>2</td>
            <td>biriyani</td>
            <td>190</td>
          </tr>
          <tr>
            <td>2</td>
            <td>biriyani</td>
            <td>190</td>
          </tr>
          <tr>
            <td>2</td>
            <td>biriyani</td>
            <td>190</td>
          </tr>
        </table>
      
        <section>
          <button class="btn-print" mat-raised-button>Print</button>    
      </section>
    </div>
        <mat-label class="total">Total</mat-label>
     
    </div>
