<mat-horizontal-stepper labelPosition="bottom" #stepper [selectedIndex]="stepperIndex">
  <mat-step>
    <app-login (loginChange)="loginSuccess()"></app-login>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" #form>
        <div class="row">
            <div class="col-md-12">
                <ng-template matStepLabel>Choose Order Type</ng-template>
                <mat-radio-group 
                          aria-label="Select an option"
                          class="order-margin"
                          formControlName="orderType"
                        >
                          <mat-radio-button value="TAKE_AWAY" class="r-btn"
                            >Take Away</mat-radio-button
                          >
                          <mat-radio-button value="DINING" class="r-btn"
                            >Dining</mat-radio-button
                          >
                          <mat-radio-button value="HOME_DELIVERY" class="r-btn"
                            >Home Delivery</mat-radio-button
                          >
                        </mat-radio-group>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <button mat-raised-button color="primary" mat-button [disabled]="firstFormGroup.invalid" (click)="submitOrderType()">Next</button>
            </div>
        </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <app-add-customer (customerData)="setCustomerData($event)"></app-add-customer>
    </form>
  </mat-step>
  <mat-step>
    <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
      <button style="margin-right:5px"  mat-raised-button (click)="setTableNumber(item)">{{item}}</button>
    </ng-container>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Take Order</ng-template>
    <app-waiter-order (close)="closeOrder()"></app-waiter-order>
  </mat-step>
</mat-horizontal-stepper>
