.btn{
    padding-top: 10px;
}
.rn{
    padding-left: 10px;
}
.w100{
    width: 100%;
}
.btn2{
    margin-left: 10px;
}
.button-row{
    padding-top: 20px;
}
.img{
    margin-top: 10px;
    border: solid 3px #ccc;
}


.amount -margin{
    padding-top: 10px;
}

.row{
    margin: 30px;
}
.row-category{
    display: flex;
}
.section-m{
    flex: auto;
    margin-left: 5px;
}
