<div class="row">
  <form [formGroup]="stockForm" >
    <div class="col-md-12">
        <h3>Update Stock</h3>
    </div>
    <div class="col-md-12">
        <label for="">Name of Item</label>
        <br>
            <mat-form-field class="item-margin" appearance="fill">
              <mat-label>Item</mat-label>
              <input 
              formControlName="itemName"
              matInput placeholder="Eg. Pizza" 
              value="">
            </mat-form-field>
    </div>
    
    <div class="col-md-12"></div>
    <div class="col-md-4">
        <label for="">Stock</label>
        <br>
            <mat-form-field class="stock-margin" appearance="fill">
              <mat-label>Stock</mat-label>
              <input matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>
    </div>
<div class="col-md-8"></div>
<div class="col-md-4">
    <section class="c-margin">
        <mat-checkbox >Is Available?</mat-checkbox>
      </section>
</div>
    <div class="col-md-12">
        <section>
            <div class="button-row">
              <button  class="btns" mat-raised-button color="primary">Save</button>
              <button class="btnc" mat-raised-button >Cancel</button>
            </div>
          </section>
        </div>
