<div class="row mr0">
  <div class="col-md-9 col-sm-12">
    <!-- <h3>Order List</h3> -->
    <div
      class="button"
      style="overflow-y: scroll; max-width: 950px; height: 70px"
    >
      <section class="center-align">
        <button class="btn1" mat-raised-button>Cancel</button>
        <button class="btn" mat-raised-button>Cancel</button>
        <button class="btn" mat-raised-button>Cancel</button>
        <button class="btn" mat-raised-button>Cancel</button>
        <button class="btn" mat-raised-button>Cancel</button>
        <button class="btn" mat-raised-button>Cancel</button>
      </section>
    </div>
    <div
      class="cards"
      style="overflow-y: scroll; max-width: 950px; height: 400px"
    >
      <mat-card class="item-card">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
      <mat-card class="item-card1">
        <mat-card-title>pineaple</mat-card-title>
        <mat-card-subtitle>Juice</mat-card-subtitle>
      </mat-card>
    </div>
    <mat-form-field class="item-margin" appearance="fill">
      <mat-label>Item</mat-label>
      <input matInput placeholder="Ex. Pizza" value="" />
    </mat-form-field>
    <mat-form-field class="list-table" appearance="fill">
      <mat-label>Table</mat-label>
      <mat-select>
        <mat-option value="one">Table-1</mat-option>
        <mat-option value="two">Table-2</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-3 col-sm-12">
    <app-order-bill></app-order-bill>
  </div>
</div>
