.item-margin{
    width: 48%;
}

.list-table{
    margin-left:10px;
    width: 35%;
    
}
.button{
    margin-top: 10px;
}
.btn{
    margin-left: 10px;
   
}



.item-card{
    margin-top: 10px;
    width: 162px;
    float: left;
}
.item-card1{
    margin-top: 10px;
    margin-left: 10px;
    width: 162px;
    float: left ;
} 
.btn-print{
    flex: auto;
    margin-left: 35%;
    margin-top: 15px;
}
.total{
    padding-left: 90px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 5px;
  }
.mr0 {
    margin-top: 10px;
}
.center-align {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.table{
    display: flex;
    justify-content: center;
   
}