.row{
    margin: 30px 20px;
}
.full-width{
    width: 220px;
}
.btn2{
    margin-left: 10px;
}
.address-width{
    width: 220px;
}
.pin-width{
    margin-left: 10px;
}
.name-width{
    margin-left: 10px;
}