<div class="row" style="margin-left: 15px;">
<div class="col-md-12 col-sm-12">
  <h3>User management</h3>
</div>
<div class="col-md-4">
    <button class="btn" mat-raised-button routerLink="/home/add-user">New User</button>    
</div>
<div class="col-md-8" style="text-align: right;">
<mat-form-field  appearance="fill" >
  <mat-label>Search</mat-label>
  <input matInput placeholder="Alex" value="">
</mat-form-field>
</div>
      <div class="col-md-12">
      <table mat-table [dataSource]="userDetails" class="user-table">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
       
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> User name</th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> Password </th>
          <td mat-cell *matCellDef="let element"> {{element.password}} </td>
        </ng-container>
      
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.userRoleCode}} </td>
          </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active</th>
          <td mat-cell *matCellDef="let element"> {{element.active}} </td>
        </ng-container>

      
  <!-- action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab color="primary" (click)="editUser(element)">
        <mat-icon>edit</mat-icon></button
      >&nbsp;
      <button mat-mini-fab color="warn" (click)="deleteUser(element._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
</div>
