
    <div class="row">
        <div class="col0-md-12 col-sm-12">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
      <span>My Application</span>

      <mat-card class="profile">
        <section>
            <button class="logout" mat-raised-button>log out</button>    
        </section>
      </mat-card>

      

    </mat-toolbar>
</div>
</div>

     
    
    
  
  
