<div class="row">
  <div class="col-md-12 col-sm-12">
    <mat-toolbar style="display: block;position: fixed;z-index: 999;">
      <div class="row">
        <div class="col-md-3">
          <span class="label">Feasty</span>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2"><button mat-raised-button color="warn" style="margin-top: 4px;">Log out</button></div>
      </div>
      
    </mat-toolbar>
    <div
      class="sidebar"
      style="overflow-y: scroll; max-width: 950px; height: 90%"git >
      <!-- <a href="#" routerLink="table-config">Table configuration</a> -->
      <a href="#" routerLink="order">Take order</a>
      <!-- <a href="#" routerLink="stock">Update stock</a> -->
      <a href="#" routerLink="user-management">User management</a>
      <a href="#" routerLink="item">Items</a>
      <a href="#" routerLink="bill-report">Bill report</a>
      <a href="#" routerLink="section">Section</a>
      <a href="#" routerLink="category">Category</a>
      <!-- <a href="#" routerLink="printer">Printer Configuration</a> -->
    </div>
    <div class="container" style="margin-top: 90px;">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
