.w100 {
    width: 100%;
}
.success {
    background-color: #c2f5c2;
}
.warning {
    background-color: #fefe62;
}
.info {
    background-color: #8e8eff;
}
.order-pending {
    background-color:#f1b8f1;
}