
    
    <div class="table">
      <table>
        <tr>
          <th>Sl.no</th>
          <th>Item Name</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>1</td>
          <td>pineaple juice</td>
          <td>100</td>
          <td><mat-icon>delete</mat-icon></td>
        </tr>
        <tr>
          <td>2</td>
          <td>biriyani</td>
          <td>190</td>
          <td><mat-icon>delete</mat-icon></td>
        </tr>
        <tr>
          <td>2</td>
          <td>biriyani</td>
          <td>190</td>
          <td><mat-icon>delete</mat-icon></td>
        </tr>
        <tr>
          <td>2</td>
          <td>biriyani</td>
          <td>190</td>
          <td><mat-icon>delete</mat-icon></td>
        </tr>
      </table>
  </div>
      <mat-label class="total">Total</mat-label>
      <div class="button">
        <button class="btn-print" mat-raised-button>Print</button> 
        <button class="btn-kot" mat-raised-button>Print KOT</button>    
      </div>
   
  
