
    <section>
        <button class="btn-print" mat-raised-button>Print</button>    
    </section>
    <div class="table">
      <table>
        <tr>
          <th>Sl.no</th>
          <th>Item Name</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>1</td>
          <td>pineaple juice</td>
          <td>100</td>
        </tr>
        <tr>
          <td>2</td>
          <td>biriyani</td>
          <td>190</td>
        </tr>
        <tr>
          <td>2</td>
          <td>biriyani</td>
          <td>190</td>
        </tr>
        <tr>
          <td>2</td>
          <td>biriyani</td>
          <td>190</td>
        </tr>
      </table>
  </div>
  <mat-label class="total">Total</mat-label>
   
  
