.table{
    margin-top: 20px;
    text-align: left;
    border: none;
    

}
.total{
    padding-left: 90px;
}
.total{
    font-weight: bold;

}
.button{
    margin-top: 10px;

}
.btn-kot{
margin-left: 10px;
}